<p><span style="color: white">search Rooms</span></p>
<body text="white">
	<p>Listing Rooms</p>
 
<table>
  <tr>
    <th>Room Price</th>
    <th >Room Type</th>
    <th >Number of Bedrooms</th>
  </tr>
   <% @searchRoomResult.each do |result| %>
    <tr>
      <td><a href><%= result.room_price %></td></a>
      <td><a href><%= result.number_bedrooms %></td></a>
      <td><a href><%= result.room_type %></td></a>
    </tr>
  <% end %>
</table>
</body>