

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<section class="search-bar">
  <div class="container">
     <div class="search-bar-div">
       <ul>
      	<div>
      		<li class="search-label">Hotel Search</li>
       		<li class="search-input"><input type="text" name="location" placeholder="Location or Hotel name"></li>
    	</div>
      	<div>
      		<li class="search-label"> Check In</li>
      		<li class="search-input"><input type="date" name="Check_in date" placeholder="check in"></li>
  	  	</div>
  	 	<div>
  	  		<li class="search-label">Check Out</li>
    	  <li class="search-input"><input type="date" name="Check_out date" placeholder="check out"></li>
  		</div>
      		<li><a class="waves-effect waves-light btn"><i class="material-icons left">search</i>Search</a></li>
      </ul>
    </div>
  </div>
</section>
</body>

</body>