<h1>Welome </h1>
<b><%= link_to 'Sign_up',   new_member_registration_path %></b>
<br/><br/>
<b><%= link_to 'Sign_in',   new_member_session_path %></b>
<br/><br/>
<b><%= link_to 'Sign_out',  destroy_member_session_path,:method => :delete %></b>