<%= form_tag({:controller=> "search", :action=>"searchView"},:method=>"get")do %>
<head>
	<title></title>
	<%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script>
  function myFunction() {
    // Declare variables
    var input, filter, ul, li, a, i;
    input = document.getElementById('location');
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName('li');

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>
</head>
<section class="search-bar">
  <div class="container">
     <div class="search-bar-div">
       <ul>
      	<div>
      		<li class="search-label"> <%= label_tag :"Search hotel"  %></li>
       		<li class="search-input"> 



  <%= select_tag "hotels", options_for_select(@hotels.map{ |hotel| [hotel.location ]}) %>
          <!--  
           <ul id="myUL">
             <li><a href="#">Adele</a></li>
             <li><a href="#">Agnes</a></li>

             <li><a href="#">Billy</a></li>
             <li><a href="#">Bob</a></li>

             <li><a href="#">Calvin</a></li>
             <li><a href="#">Christina</a></li>
             <li><a href="#">Cindy</a></li>
           </ul>
            -->
          </li>

    	</div>
      	<div>
     		
      		<li class="search-label"> Check In</li>
      		<li class="search-input"><input type="date"  name="check_in_date" placeholder="check in"></li>
  	  	</div>
  	 	<div>
  	  		<li class="search-label">Check Out</li>
    	  <li class="search-input"><input type="date" name="check_out_date" placeholder="check out"></li>
  		</div>
         <li> <input type="submit" onClick="search_string_validate.stringValidate()"></li>
      </ul>
    </div>
  </div>

</section>
<% end %>
