// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 400px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.inline-errors{
	display:none;
}

.message{
	color:red;
	margin-left: 23em;
	width: 100%;
}

select{
display: block;
}

form.filter_form .filter_form_field.select_and_search input[type=text] {
    margin-left:2px;
    margin-top: 10px;
    width: 80px;
}
form fieldset > ol > li p.inline-hints{
	margin-left:-61px
}