// Place all the styles related to the Booking controller here.
// They will automatically be included in application.css.

th, td{
	
    width: 10%;
}

.row .col.m6{
	margin-left:25%
}
.btn, .btn-large{
	background-color:red;
	margin-left:30%;
}
.card .card-content{
	margin-top:10%;
}
p.alert{
	color:white;
}